<!DOCTYPE html>
<html>
<head>
<title>Notes</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
<link rel="stylesheet" href="css/ratchet.css"/>
<link rel="stylesheet" href="css/ratchet-theme-ios.css"/> <!-- TODO import ratchet-theme.css instead and have ratchet-theme.css point to the theme for the platform -->
<link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

<div id="content"></div>

<script src="js/jquery.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/forcetk.mobilesdk.js"></script>

<!-- Local Testing -/->
<script src="js/forcetk.ui.js"></script>
<script src="js/MockCordova.js"></script>
<script src="js/cordova.force.js"></script>
<script src="js/MockSmartStore.js"></script>
<script src="js/MockSmartSyncPlugin.js"></script>
<!-- End Local Testing -->

<!-- Container -->
<script src="cordova.js"></script>
<!-- End Container -->

<script src="js/smartsync.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/stackrouter.js"></script>
<script src="js/auth.js"></script>


<!-- --------------------------------------- Search page template ------------------------------------------------- -->
<script id="search-page" type="text/template">
  <header class="bar bar-nav">
    <h1 class="title">Notes</h1>
  </header>
  <footer class="bar bar-footer">
    <a class="btn btn-nav btn-positive pull-left syncdown">Sync Down</a>
    <a class="btn btn-nav btn-positive pull-left syncup">Sync Up</a>
    <a class="btn btn-nav pull-right inspect">DB</a>
  </footer>

  <div class="bar bar-standard bar-header-secondary">
    <input type="search" class="search-key" placeholder="Search"/>
  </div>

  <div class="content">
    <ul class="table-view"></ul>
  </div>
</script>

<!-- --------------------------------------- Notes list item template ---------------------------------------------- -->
<script id="note-list-item" type="text/template">

  <a href="#notes/<%= Id %>">
    <span class="important"><%= Title %></span><br/>
    <% if (__locally_updated__) { %><span class="pull-right btn btn-negative">modified</span><br/><% } %>
  </a>
</script>

<!-- --------------------------------------- Note page template -------------------------------------------------- -->
<script id="note-page" type="text/template">
  <header class="bar bar-nav">
    <a href="#" class="btn btn-nav pull-left back">Back</a>
    <a class="btn btn-nav btn-positive pull-right save">Save</a>
    <h1 class="title"><%= Title %></h1>
  </header>

  <div class="content">
    <div class="content-padded">
      <div class="details">
        <input placeholder="Title" type="text" name="Title" value="<%= Title %>" /><br/>
        <textarea placeholder="Content" type="text" name="ContentDecoded"><%= ContentDecoded %></textarea><br/>
        <% if (__locally_updated__) { %><span class="btn btn-negative btn-block">Locally Modified</span><% } %>
      </div>
    </div>
  </div>
</script>

<script>
// -------------------------------------------------- The Models ---------------------------------------------------- //
// The Note Model
app.models.Note = Force.SObject.extend({
    sobjectType: "ContentNote",
    fieldlist: ["Id", "Title", "Content", "LastModifiedDate"],
    cache: function() { return app.cache;},
    cacheMode: Force.CACHE_MODE.CACHE_ONLY
});

// The NoteCollection Model
app.models.NoteCollection = Force.SObjectCollection.extend({
    model: app.models.Note,
    cache: function() { return app.cache;},

    getCriteria: function() {
        return this.key;
    },

    setCriteria: function(key) {
        this.key = key;
        this.config = {type:"cache", 
                       cacheQuery:{queryType:"smart", 
                                   smartSql:"SELECT {notes:_soup}"
                                   + " FROM {notes}"
                                   + " WHERE {notes:Title} like '" + key + "%'"
                                   + " ORDER BY {notes:Title} "
                                   + " LIMIT 25 ", 
                                   pageSize:25}
                      };
    }
});


// -------------------------------------------------- The Views ---------------------------------------------------- //

app.views.SearchPage = Backbone.View.extend({

    template: _.template($("#search-page").html()),

    events: {
        "keyup .search-key": "search",
        "click .syncdown": "syncDown",
        "click .syncup": "syncUp",
        "click .inspect": "inspect"
    },

    initialize: function() {
        var that = this;
        this.fieldlist = app.models.Note.prototype.fieldlist;
        this.listView = new app.views.NoteListView({model: this.model});
        document.addEventListener("sync", function() { 
            that.handleSyncUpdate(event.detail);
        });
    },

    handleSyncUpdate: function(sync) {
        var progress =  (typeof sync.progress === "number" && sync.progress < 100) ? " (" + Math.round(sync.progress) + "%)" : "";

        if (sync.type === "syncDown") {
            this.lastSoqlSyncDownId = sync.syncId;
            $(".syncdown").html("Sync " + progress);
        }
        if (sync.type === "syncUp") {
            $(".syncup").html("Sync Up" + progress);
        }
        if (sync.status === "DONE") { this.search(); }
    },

    render: function(eventName) {
        $(this.el).html(this.template());
        $(".search-key", this.el).val(this.model.getCriteria());
        this.listView.setElement($("ul", this.el)).render();
        return this;
    },

    syncDown: function() {
        var target = {type:"custom", androidImpl:"com.salesforce.samples.notesync.ContentSoqlSyncDownTarget", iOSImpl:"SFContentSoqlSyncDownTarget", query:"SELECT " + this.fieldlist.join(",") + " FROM ContentNote LIMIT 1000"};
        cordova.require("com.salesforce.plugin.smartsync").syncDown(target, "notes", {mergeMode:Force.MERGE_MODE_DOWNLOAD.LEAVE_IF_CHANGED}, this.handleSyncUpdate.bind(this));
    },

    syncUp: function(event) {
        cordova.require("com.salesforce.plugin.smartsync").syncUp("notes", {fieldlist: this.fieldlist}, this.handleSyncUpdate.bind(this));
    },

    inspect: function() {
        cordova.require("com.salesforce.plugin.smartstore").showInspector();
    },

    search: function(event) {
        this.model.setCriteria($(".search-key", this.el).val());
        this.model.fetch();
    }
});

app.views.NoteListView = Backbone.View.extend({

    listItemViews: [],

    initialize: function() {
        this.model.bind("reset", this.render, this);
    },

    render: function(eventName) {
        _.each(this.listItemViews, function(itemView) { itemView.close(); });
        this.listItemViews = _.map(this.model.models, function(model) { return new app.views.NoteListItemView({model: model}); });
        $(this.el).append(_.map(this.listItemViews, function(itemView) { return itemView.render().el;} ));
        return this;
    }

});

app.views.NoteListItemView = Backbone.View.extend({

    tagName: "li",
    template: _.template($("#note-list-item").html()),

    render: function(eventName) {
        $(this.el).addClass("table-view-cell").html(this.template(this.model.toJSON()));
        return this;
    },

    close: function() {
        this.remove();
        this.off();
    }
});

app.views.NotePage = Backbone.View.extend({

    template: _.template($("#note-page").html()),

    events: {
        "change": "change",
        "click .save": "save"
    },

    render: function(eventName) {
        var templateData = _.extend({ContentDecoded: atob(this.model.get("Content"))}, this.model.toJSON());
        $(this.el).html(this.template(templateData));
        return this;
    },

    change: function(event) {
        // apply change to model
        var target = event.target;
        if (target.name == "ContentDecoded") {
            this.model.set("Content", btoa(target.value));
        }
        else {
            this.model.set(target.name, target.value);
        }
    },

    save: function() {
        this.model.save(null, {
            success: function() {
                app.router.navigate("#", {trigger:true});
            }
        });
    }

});


// ----------------------------------------------- The Application Router ------------------------------------------ //

app.Router = Backbone.StackRouter.extend({

    routes: {
        "": "list",
        "list": "list",
        "notes/:id": "viewNote"
    },

    setupCaches: function() {
        // Cache for offline support
        app.cache = new Force.StoreCache("notes", [ {path:"Title", type:"string"} ]);
        app.cache.init();
    },

    initialize: function() {
        Backbone.Router.prototype.initialize.call(this);

        // Setup caches
        this.setupCaches();

        // Collection behind search screen
        app.searchResults = new app.models.NoteCollection();

        // We keep a single instance of SearchPage and NotePage
        app.searchPage = new app.views.SearchPage({model: app.searchResults});
        app.notePage = new app.views.NotePage();
    },

    list: function() {
        app.searchResults.fetch();
        // Show page right away - list will redraw when data comes in
        this.slidePage(app.searchPage);
    },

    viewNote: function(id) {
        var that = this;
        var note = new app.models.Note({Id: id});
        note.fetch({
            success: function() {
                app.notePage.model = note;
                that.slidePage(app.notePage);
            }
        });
    }
});
</script>
</body>
</html>
