<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Back</button>
    </a>
    <a href="#" class="header-button header-button-icon header-button-right search" id="view-home-refresh">
        <button><img src="css/images/search-icon.png" alt="Refresh" width="16" height="16"></button>
    </a>

    <h1>User</h1>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="employee-summary">
        <header>
            <img id="employeePic" src="<%= SmallPhotoUrl %>" width="100"/>

            <h1><%= FirstName %> <%= LastName %></h1>
            <span class="link-text"><%= Title %></span><br/>
            <span class="metadata"><%= City %></span>
        </header>
    </div>

    <ul class="tableview tableview-links">
        <li>
            <a href="tel:<%= MobilePhone %>">
                <div class="story">
                    <b>Call Cell</b><br/>
                    <span class="metadata"><%= MobilePhone %></span>
                </div>
                <img src="css/images/call.png" class="action-icon"/>
            </a>
        </li>
        <li>
            <a href="sms:<%= MobilePhone %>">
                <div class="story">
                    <b>SMS</b><br/>
                    <span class="metadata"><%= MobilePhone %></span>
                </div>
                <img src="css/images/message.png" class="action-icon"/>
            </a>
        </li>
        <li>
            <a href="mailto:<%= Email %>">
                <div class="story">
                    <b>Email</b><br/>
                    <span class="metadata"><%= Email %></span>
                </div>
                <img src="css/images/mail.png" class="action-icon"/>
            </a>
        </li>
    </ul>
</div>
