<!DOCTYPE html>
<html>
<head>
<title>Accounts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
<link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

<div id="content"></div>

<!-- Scripts -->
<script src="../../external/jquery/jquery-1.8.3.min.js"></script>
<script src="../../external/backbone/underscore-1.4.4.min.js"></script>
<script src="../../external/backbone/backbone-1.0.0.min.js"></script>
<script src="../../test/MockCordova.js"></script> <!-- Uncomment when testing in browser -->
<!-- <script src="../../external/cordova-2.3.0.js"></script> --> <!-- Uncomment when running in container -->
<script src="../../libs/forcetk.js"></script>
<script src="../../libs/cordova.force.js"></script>
<script src="../../test/MockSmartStore.js"></script>  <!-- Uncomment when testing in browser -->
<script src="../../libs/force.entity.js"></script>
<script src="stackrouter.js"></script>
<script src="auth.js"></script>

<!-- --------------------------------------- Search page template ------------------------------------------------- -->
<script id="search-page" type="text/template">
<div class="header">
    <h1>Accounts</h1>
    <a href="#add" class="header-button header-button-icon header-button-right">
      <button>+</button>
    </a>
</div>

<div class="search">
    <input type="search" class="search-key" placeholder="Search"/>
</div>

<div class="scroll striped" style="top:84px;">
    <ul id="myList" class="tableview tableview-links"></ul>
</div>
</script>

<!-- --------------------------------------- Account list item Template ------------------------------------------- -->
<script id="account-list-item" type="text/template">
<a href="#accounts/<%= Id %>" class="pad-right">
    <div class="story">
    	<b><%= Name %></b>
    	<span class="metadata">
            <span class="link-text"><%= Id %></span><br/>
            <span class="link-text"><%= Industry %></span><br/>
        </span>
    </div>
</a>
</script>

<!-- --------------------------------------- View account page template ------------------------------------------- -->
<script id="account-page" type="text/template">
<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Back</button>
    </a>
    <a href="#edit/accounts/<%= Id %>" class="header-button header-button-icon header-button-right search">
        <button>&#9998;</button>
    </a>

    <a href="#" class="header-button header-button-icon header-button-second-from-right delete">
        <button>&#10007;</button>
    </a>

    <h1>Account</h1>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="sobject-summary">
        <header>
            <h1><%= Name %> </h1>
            <span class="link-text"><%= Id %></span><br/>
            <span class="link-text"><%= Industry %></span><br/>
        </header>
    </div>

    <ul class="tableview tableview-links">
        <% if (Phone) { %>
        <li>
            <a href="tel:<%= Phone %>">
                <div class="story">
                    <b>Call</b><br/>
                    <span class="metadata"><%= Phone %></span>
                </div>
                <img src="css/images/call.png" class="action-icon"/>
            </a>
        </li>
        <% } %>
    </ul>
</div>
</script>

<!-- --------------------------------------- Add/edit account page template --------------------------------------- -->
<script id="edit-account-page" type="text/template">
<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Back</button>
    </a>
    <h1><%= action %> Account</h1>
</div>
<div class="scroll striped" style="top:44px;">
  <form style="margin:20px">
    <div class="control-group" id="accountName">
      <label class="control-label" for="accountName">Name</label>
      <input class="controls" type="text" name="Name" value="<%= Name %>" />
      <span class="help-inline" id="accountNameHelp" />
    </div>
    <div class="control-group" id="accountIndustry">
      <label class="control-label" for="accountIndustry">Industry</label>
      <input class="controls" type="text" name="Industry" value="<%= Industry %>" />
      <span class="help-inline" id="accountIndustryHelp" />
    </div>
    <div class="control-group" id="accountPhone">
      <label class="control-label" for="accountPhone">Phone</label>
      <input class="controls" type="text" name="Phone" value="<%= Phone %>" />
      <span class="help-inline" id="accountPhoneHelp" />
    </div>
    <div class="control-group" id="saveGroup">
      <label class="control-label"/>
      <button type="submit" class="controls btn save">Save</button>
      <span class="help-inline" id="saveHelp" />
    </div>
  </form>
</div>
</script>

<script>
// -------------------------------------------------- The Models --------------------------------------------------- //
// The Account Model
app.models.Account = Force.SObject.extend({
    sobjectType: "Account",
    fieldlist: ["Id", "Name", "Industry", "Phone"]
});

// The AccountCollection Model
app.models.AccountCollection = Force.SObjectCollection.extend({
    model: app.models.Account,
    fieldlist: ["Id", "Name", "Industry"],
    setCriteria: function(key) {
        this.configureForSOQL("SELECT " + this.fieldlist.join(",")  
                              + " FROM Account"
                              + " WHERE Name like '" + key + "%'");
    }
});

// -------------------------------------------------- The Views ---------------------------------------------------- //

app.views.SearchPage = Backbone.View.extend({

    template: _.template($("#search-page").html()),

    render: function(eventName) {
        $(this.el).html(this.template());
        this.listView = new app.views.AccountListView({el: $("ul", this.el), model: this.model});
        this.listView.render();
        return this;
    },

    events: {
        "keyup .search-key": "search"
    },

    search: function(event) {
        this.model.setCriteria($(".search-key").val());
        this.model.fetch();
    }
});

app.views.AccountListView = Backbone.View.extend({

    initialize: function() {
        this.model.bind("reset", this.render, this);
    },

    render: function(eventName) {
        $(this.el).empty();
        _.each(this.model.models, function(account) {
            $(this.el).append(new app.views.AccountListItemView({model: account}).render().el);
        }, this);
        return this;
    }

});

app.views.AccountListItemView = Backbone.View.extend({

    tagName: "li",
    template: _.template($("#account-list-item").html()),


    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    }

});

app.views.AccountPage = Backbone.View.extend({

    template: _.template($("#account-page").html()),

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    },

    events: {
        "click .delete": "delete"
    },

    delete: function(evt) {
        evt.preventDefault();
        this.model.destroy({
            success: function(data) {
                app.router.navigate("#", {trigger:true});
            },
            error: function(data, xhr, options) {
                var error = new Force.RestError(xhr);
                alert("Failed to delete account: " + error.details[0].message);
            }
        });
    }
});

app.views.EditAccountPage = Backbone.View.extend({

    template: _.template($("#edit-account-page").html()),

    render: function(eventName) {
        var action = (null == this.model.get("Id")) ? "Add" : "Edit";
        if (action == "Add") { this.model.set({Name:"", Industry:"", Phone:""}); }
        $(this.el).html(this.template(_.extend({action: action}, this.model.toJSON())));
        return this;
    },

    events: {
        "change": "change",
        "click .save": "save",
    },

    change: function(evt) {
        // apply change to model
        var target = event.target;
        this.model.set(target.name, target.value);
        // Remove error if any
        $("#account" + target.name).removeClass("error");
        $("#account" + target.name + "Help").html("");
    },

    save: function(evt) {
        evt.preventDefault();
        this.model.save(null, {
            success: function(data) {
                app.router.navigate("#accounts/" + data.get("Id"), {trigger:true});
            },
            error: function(data, xhr, options) {
                var error = new Force.RestError(xhr);
                _.each(error.details, function(detail) {
                    if (detail.fields == null || detail.fields.length == 0) {
                        alert(detail.message);
                    }
                    else {
                        _.each(detail.fields, function(field) {
                            $("#account" + field).addClass("error");
                            $("#account" + field + "Help").html(detail.message);
                        });
                    }
                    // TBD error that are not field specific
                });
            }
        });
    }
});


// ----------------------------------------------- The Application Router ------------------------------------------ //

app.Router = Backbone.StackRouter.extend({

    routes: {
        "": "list",
        "list": "list",
        "add": "addAccount",
        "accounts/:id": "viewAccount",
        "edit/accounts/:id": "editAccount"
    },

    initialize: function() {
        Backbone.Router.prototype.initialize.call(this);

        var cache = new Force.StoreCache('accounts');
        cache.init();
        app.models.Account.setupCache(cache);
        app.models.AccountCollection.setupCache(cache);

        this.searchResults = new app.models.AccountCollection();
        this.searchResults.configureForMRU("Account", this.searchResults.fieldlist);
        // We keep a single instance of the SearchPage and its associated Account collection throughout the app
        this.startPage = new app.views.SearchPage({model: this.searchResults});
        $(this.startPage.el).attr("id", "startPage");
    },

    list: function() {
        var that = this;
        this.searchResults.fetch({
            success: function() {
                that.slidePage(that.startPage.render());
            }
        });
    },

    addAccount: function() {
        var account = new app.models.Account({Id: null});
        this.slidePage(new app.views.EditAccountPage({model: account}).render());
    },

    viewAccount: function(id) {
        var that = this;
        var account = new app.models.Account({Id: id});
        account.fetch({
            fieldlist: account.fieldlist,
            cache: true,
            success: function(data) {
                that.slidePage(new app.views.AccountPage({model: data}).render());
            }
        });
    },

    editAccount: function(id) {
        var that = this;
        var account = new app.models.Account({Id: id});
        account.fetch({
            fieldlist: account.fieldlist,
            cache: true,
            success: function(data) {
                that.slidePage(new app.views.EditAccountPage({model: data}).render());
            }
        });
    }
});
</script>
</body>
</html>
