<!DOCTYPE html>
<html>
<head>
<title>Accounts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
<link rel="stylesheet" href="css/styles.css"/>
<link rel="stylesheet" href="css/ratchet.css"/>
</head>

<body>

<div id="content"></div>

<!-- Scripts -->

<!-- Local Testing -->
<script src="../../external/jquery/jquery-2.0.0.min.js"></script>
<script src="../../external/backbone/underscore-1.4.4.min.js"></script>
<script src="../../external/backbone/backbone-1.0.0.js"></script>
<script src="../../test/MockCordova.js"></script>
<script src="../../libs/forcetk.js"></script>
<script src="../../libs/cordova.force.js"></script>
<script src="../../test/MockSmartStore.js"></script>
<script src="../../libs/force.entity.js"></script>
<script src="stackrouter.js"></script>
<script src="auth_local.js"></script>
<!-- End Local Testing -->

<!-- Container -->
<!--
<script src="jquery/jquery-2.0.0.min.js"></script>
<script src="backbone/underscore-1.4.4.min.js"></script>
<script src="backbone/backbone-1.0.0.min.js"></script>
<script src="cordova-2.3.0.js"></script>
<script src="forcetk.js"></script>
<script src="cordova.force.js"></script>
<script src="force.entity.js"></script>
<script src="stackrouter.js"></script>
<script src="auth.js"></script>
-->
<!-- End Container -->


<!-- --------------------------------------- Search page template ------------------------------------------------- -->
<script id="search-page" type="text/template">
  <header class="bar-title">
    <h1 class="title">Accounts</h1>
    <a class="button" href="#add">Create</a>
  </header>
  <footer class="bar-footer">
    <span id="offlineStatus"></span>
  </footer>

  <div class="bar-standard bar-header-secondary">
    <input type="search" class="search-key" placeholder="Search"/>
  </div>

  <div class="content">
    <ul class="list"></ul>
  </div>
</script>

<!-- --------------------------------------- Online/Offline Toggler Template -------------------------------------- -->

<script id="offline-toggler" type="text/template">
  <a class="<%= isOnline ? 'button-positive' : 'button-negative' %>"><%= (isOnline ? "Online" : "Offline") %></a>
</script>

<!-- --------------------------------------- Sync Page Template --------------------------------------------------- -->

<script id="sync-page" type="text/template">
  <header class="bar-title">
    <h1 class="title">Sync</h1>
  </header>

  <footer class="bar-footer">
    <span id="offlineStatus"></span>
  </footer>

  <div class="bar-standard bar-header-secondary">
    <a class="button button-block sync">Process <%= countLocallyModified %> records</a>
  </div>

  <div class="content">
    <ul class="list"></ul>
  </div>
</script>

<!-- --------------------------------------- Account list item Template ------------------------------------------ -->
<script id="account-list-item" type="text/template">
  <a href="<%= clickAction %>">
    <div>
      <b><%= Name %></b><br/>
      <%= Id %><br/>
      <%= Industry %><br/>
      <% if (__sync_failed__) { %><span class="count-negative">Failed to sync</span>
      <% } else { %>
        <% if (__locally_created__) { %><span class="count-main">Locally Created</span><% } %>
        <% if (__locally_updated__) { %><span class="count-main">Locally Updated</span><% } %>
        <% if (__locally_deleted__) { %><span class="count-main">Locally Deleted</span><% } %>
      <% } %>
    </div>
  </a>
</script>

<!-- --------------------------------------- View account page template ------------------------------------------ -->
<script id="account-page" type="text/template">
  <header class="bar-title">
    <a href="#" class="button-prev">Back</a>
    <h1 class="title">Account</h1>
    <a href="#edit/accounts/<%= Id %>" class="button">Edit</a>
    <a class="button delete">Delete</a>
  </header>

  <footer class="bar-footer">
    <span id="offlineStatus"></span>
  </footer>

  <div class="content">
    <div class="content-padded">
      <b><%= Name %></b><br/>
      <%= Id %><br/>
      <%= Industry %><br/>
      <% if (Phone) { %> <a href="tel:<%= Phone %>"><%= Phone %></a><br/><% } %>
      <% if (__locally_created__) { %><span class="count-negative">Locally Created</span><% } %>
      <% if (__locally_updated__) { %><span class="count-negative">Locally Updated</span><% } %>
      <% if (__locally_deleted__) { %><span class="count-negative">Locally Deleted</span><% } %>
    </div>
  </div>
</script>

<!-- --------------------------------------- Add/edit account page template -------------------------------------- -->
<script id="edit-account-page" type="text/template">
  <header class="bar-title">
    <a href="<%= backAction %>" class="button-prev">Back</a>
    <h1 class="title"><%= action %> Account</h1>
  </header>

  <footer class="bar-footer">
    <span id="offlineStatus"></span>
  </footer>

  <div class="content">
    <div class="content-padded">
      <div class="input-group">
        <div class="input-row" id="accountName">
          <label>Name</label>
          <input type="text" name="Name" value="<%= Name %>" />
          <span class="error" id="accountNameError" />
        </div>
        <div class="input-row" id="accountIndustry">
          <label>Industry</label>
          <input type="text" name="Industry" value="<%= Industry %>" />
          <span class="error" id="accountIndustryError" />
        </div>
        <div class="input-row" id="accountPhone">
          <label>Phone</label>
          <input type="text" name="Phone" value="<%= Phone %>" />
          <span class="error" id="accountPhoneError" />
        </div>
      </div>
      <a class="button save">Save</a>
      <a class="button save-if-not-changed">Save (if no remote changes)</a>
      <a class="button save-if-not-conflicting">Save (if no conflicts)</a>
    </div>
  </div>
</script>

<script>
// -------------------------------------------------- The Models --------------------------------------------------- //
// The Account Model
app.models.Account = Force.SObject.extend({
    sobjectType: "Account",
    fieldlist: ["Id", "Name", "Industry", "Phone"],
    cache: function() { return app.cache;},
    cacheForOriginals: function() { return app.cacheForOriginals;},
    cacheMode: function(method) {
        if (!app.offlineTracker.get("isOnline")) {
            return Force.CACHE_MODE.CACHE_ONLY;
        }
        else {
            return (method == "read" ? Force.CACHE_MODE.CACHE_FIRST : Force.CACHE_MODE.SERVER_FIRST);
        }
    }
});

// The AccountCollection Model
app.models.AccountCollection = Force.SObjectCollection.extend({
    model: app.models.Account,
    fieldlist: ["Id", "Name", "Industry", "Phone"],
    cache: function() { return app.cache},

    setCriteria: function(key) {
        this.key = key;
    },

    config: function() {
        // Offline: do a cache query
        if (!app.offlineTracker.get("isOnline")) {
            return {type:"cache", cacheQuery:{queryType:_.isEmpty(this.key) ? "range" : "like", indexPath:"Name", likeKey: this.key+"%", order:"ascending", pageSize:25}};
        }
        // Online
        else {
            // First time: do a MRU query
            if (this.key == null) {
                return {type:"mru", sobjectType:"Account", fieldlist: this.fieldlist};
            }
            // Other times: do a SOQL query
            else {
                var soql = "SELECT " + this.fieldlist.join(",")  
                    + " FROM Account"
                    + " WHERE Name like '" + this.key + "%'"
                    + " ORDER BY Name "
                    + " LIMIT 25";
                return {type:"soql", query:soql};
            }
        }
    }
});

// Online/Offline Tracker
app.models.OfflineTracker = Backbone.Model.extend({
    initialize: function() {
        var that = this;
        document.addEventListener("offline", function() {
            console.log("Received OFFLINE event");
            that.set("isOnline", false);
        }, false);
        document.addEventListener("online", function() {
            console.log("Received ONLINE event");
            // User decides when to go back online
        }, false);
    }
});

// -------------------------------------------------- The Views ---------------------------------------------------- //

app.views.SearchPage = Backbone.View.extend({

    template: _.template($("#search-page").html()),

    render: function(eventName) {
        $(this.el).html(this.template());
        (new app.views.OfflineToggler({el: $("#offlineStatus", this.el), model: app.offlineTracker})).render();
        this.listView = new app.views.AccountListView({el: $("ul", this.el), model: this.model, clickActionPrefix: "#accounts/"});
        this.listView.render();
        return this;
    },

    events: {
        "keyup .search-key": "search"
    },

    search: function(event) {
        var key = $(".search-key").val();
        this.model.setCriteria(key);
        this.model.fetch();
    }
});

app.views.AccountListView = Backbone.View.extend({

    initialize: function() {
        this.model.bind("reset", this.render, this);
    },

    render: function(eventName) {
        $(this.el).empty();
        _.each(this.model.models, function(account) {
            var templateData = {model: account, clickActionPrefix: this.options.clickActionPrefix, backAction: this.options.backAction};
            $(this.el).append(new app.views.AccountListItemView(templateData).render().el);
        }, this);
        return this;
    }

});

app.views.AccountListItemView = Backbone.View.extend({

    tagName: "li",
    template: _.template($("#account-list-item").html()),

    render: function(eventName) {
        var templateData = _.extend({clickAction: this.options.clickActionPrefix + this.model.id, backAction: this.options.backAction, __sync_failed__:false}, this.model.toJSON());
        $(this.el).html(this.template(templateData));
        return this;
    }
});

app.views.OfflineToggler = Backbone.View.extend({

    template: _.template($("#offline-toggler").html()),

    initialize: function() {
        this.model.on("change:isOnline", this.render, this);
    },

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    },

    events: {
        "click": "toggle"
    },

    toggle: function(event) {
        event.preventDefault();
        this.model.set("isOnline", !this.model.get("isOnline"))
        if (this.model.get("isOnline")) {
            app.router.navigate("#sync", {trigger:true});        
        }
    }
});

app.views.SyncPage = Backbone.View.extend({

    template: _.template($("#sync-page").html()),

    render: function(eventName) {
        $(this.el).html(this.template(_.extend({countLocallyModified: this.model.length}, this.model.toJSON())));
        this.listView = new app.views.AccountListView({el: $("ul", this.el), model: this.model, clickActionPrefix: "#edit/accounts/", backAction: "#sync"});
        this.listView.render();
        return this;
    },

    events: {
        "click .sync": "sync"
    },

    sync: function(event) {
        var that = this;
        if (this.model.length == 0) {
            // Done
            app.router.navigate("#", {trigger: true});
        }
        else if (this.model.at(0).get("__sync_failed__")) {
            // we push sync failures back to the end of the list - if we encounter one, it means we are done
            return;
        }
        else {
            var record = this.model.shift();

            var options = {
                success: function() {
                    that.render();
                    that.sync();
                },
                error: function() {
                    that.model.push(record.set("__sync_failed__", true));
                    that.render();
                    that.sync();
                }
            };

            return record.get("__locally_deleted__") 
                ? record.destroy(options)
                : record.save(null, options);

        }
    }
});

app.views.AccountPage = Backbone.View.extend({

    template: _.template($("#account-page").html()),

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        (new app.views.OfflineToggler({el: $("#offlineStatus", this.el), model: app.offlineTracker})).render();
        return this;
    },

    events: {
        "click .delete": "delete"
    },

    delete: function(evt) {
        evt.preventDefault();
        this.model.destroy({
            success: function(data) {
                app.router.navigate("#", {trigger:true});
            },
            error: function(data, err, options) {
                var error = new Force.Error(err);
                alert("Failed to delete account: " + (error.type === "RestError" ? error.details[0].message : "Remote change detected - delete aborted"));
            }
        });
    }
});

app.views.EditAccountPage = Backbone.View.extend({

    template: _.template($("#edit-account-page").html()),

    initialize: function() {
        app.offlineTracker.on("change:isOnline", this.render, this);
    },

    render: function(eventName) {
        var action = (null == this.model.id) ? "Add" : "Edit";
        if (action == "Add") { this.model.set({Name:"", Industry:"", Phone:"", attributes : { type: "Account"}}); }
        $(this.el).html(this.template(_.extend({action: action, backAction: app.router.getLastPage()}, this.model.toJSON())));
        (new app.views.OfflineToggler({el: $("#offlineStatus", this.el), model: app.offlineTracker})).render();
        if (!app.offlineTracker.get("isOnline")) { 
            $(".save-if-not-changed", this.el).hide();  
            $(".save-if-not-conflicting", this.el).hide();  
        }
        return this;
    },

    events: {
        "change": "change",
        "click .save": "save",
        "click .save-if-not-changed": "save",
        "click .save-if-not-conflicting": "save",
    },

    change: function(evt) {
        // apply change to model
        var target = event.target;
        this.model.set(target.name, target.value);
        $("#account" + target.name + "Error").hide();
    },

    save: function(evt) {
        var that = this;
        var mergeMode = ($(evt.target).hasClass("save-if-not-changed") 
                         ? Force.MERGE_MODE.FAIL_IF_CHANGED
                         : ($(evt.target).hasClass("save-if-not-conflicting")
                            ? Force.MERGE_MODE.FAIL_IF_CONFLICTING
                            : Force.MERGE_MODE.IGNORE_REMOTE));
        evt.preventDefault();
        this.model.save(null, {
            mergeMode: mergeMode,
            success: function(data) {
                app.router.navigate(that.options.backAction, {trigger:true});
            },
            error: function(data, err, options) {
                var error = new Force.Error(err);
                if (error.type === "RestError") {
                    _.each(error.details, function(detail) {
                        if (detail.fields == null || detail.fields.length == 0) {
                            alert(detail.message);
                        }
                        else {
                            _.each(detail.fields, function(field) {
                                $("#account" + field + "Error").html(detail.message);
                                $("#account" + field + "Error").show();
                            });
                        }
                    });
                }
                else if (error.type == "ConflictError") {
                    _.each(error.remoteChanges, function(field) {
                        var conflict = error.conflictingChanges.indexOf(field) >=0;
                        $("#account" + field + "Error").addClass(conflict ? "count-negative" : "count-main");
                        $("#account" + field + "Error").html((conflict ? "[Conflict] " : "") + "Changed on server to: " +  error.theirs[field]);
                        $("#account" + field + "Error").show();
                    });
                }
            }
        });
    }
});


// ----------------------------------------------- The Application Router ------------------------------------------ //

app.Router = Backbone.StackRouter.extend({

    routes: {
        "": "list",
        "list": "list",
        "add": "addAccount",
        "accounts/:id": "viewAccount",
        "edit/accounts/:id": "editAccount",
        "sync":"sync"
    },

    setupCaches: function() {
        // Cache for offline support
        app.cache = new Force.StoreCache("accounts", [ {path:"Name", type:"string"} ]);

        // Cache for conflict detection 
        app.cacheForOriginals = new Force.StoreCache("original-accounts");

        return $.when(app.cache.init(), app.cacheForOriginals.init());
    },

    initialize: function() {
        Backbone.Router.prototype.initialize.call(this);

        // Initializing offline tracker 
        app.offlineTracker = new app.models.OfflineTracker({isOnline: true});

        // Setup caches
        this.setupCaches();

        // Collection behind search screen
        this.searchResults = new app.models.AccountCollection();

        // We keep a single instance of the SearchPage and its associated Account collection throughout the app
        this.startPage = new app.views.SearchPage({model: this.searchResults});
        $(this.startPage.el).attr("id", "startPage");
    },

    list: function() {
        var that = this;
        this.searchResults.fetch({
            success: function() {
                that.slidePage(that.startPage.render());
            },
            error: function() {
                alert("Failed to get records for list");
            }
        });
    },

    addAccount: function() {
        var account = new app.models.Account({Id: null});
        this.slidePage(new app.views.EditAccountPage({model: account}).render());
    },

    viewAccount: function(id) {
        var that = this;
        var account = new app.models.Account({Id: id});
        account.fetch({
            success: function(data) {
                that.slidePage(new app.views.AccountPage({model: data}).render());
            },
            error: function() {
                alert("Failed to get record for view");
            }
        });
    },

    editAccount: function(id) {
        var that = this;
        var account = new app.models.Account({Id: id});
        account.fetch({
            success: function(data) {
                that.slidePage(new app.views.EditAccountPage({model: data}).render());
            },
            error: function() {
                alert("Failed to get record for edit");
            }
        });
    },

    sync: function() {
        var that = this;
        var localAccounts = new app.models.AccountCollection();
        localAccounts.fetch({
            config: {type:"cache", cacheQuery: {queryType:"exact", indexPath:"__local__", matchKey:true, order:"ascending", pageSize:25}},
            success: function(data) {
                if (data.length > 0) {
                    that.slidePage(new app.views.SyncPage({model: data}).render());
                }
            }
        });
    }
});
</script>
</body>
</html>
