<!DOCTYPE html>
<html>
<head>
<title>Contacts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
<link rel="stylesheet" href="css/ratchet.css"/>
<link rel="stylesheet" href="css/ratchet-theme-ios.css"/> <!-- TODO import ratchet-theme.css instead and have ratchet-theme.css point to the theme for the platform -->
<link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

<div id="content"></div>

<script src="js/jquery.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/forcetk.mobilesdk.js"></script>

<!-- Local Testing -/->
<script src="js/forcetk.ui.js"></script>
<script src="js/MockCordova.js"></script>
<script src="js/cordova.force.js"></script>
<script src="js/MockSmartStore.js"></script>
<script src="js/MockSmartSyncPlugin.js"></script>
<!-- End Local Testing -->

<!-- Container -->
<script src="cordova.js"></script>
<!-- End Container -->

<script src="js/smartsync.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/stackrouter.js"></script>
<script src="js/auth.js"></script>


<!-- --------------------------------------- Search page template ------------------------------------------------- -->
<script id="search-page" type="text/template">
  <header class="bar bar-nav">
    <h1 class="title">Contacts</h1>
    <a class="btn btn-nav btn-positive pull-right sync">Sync</a>
    <a class="btn btn-nav btn-positive pull-right add">Add</a>
  </header>
  <footer class="bar bar-footer">
    <a class="btn btn-nav pull-right cachesize">Cache Size</a>
    <a class="btn btn-nav pull-right inspect">DB</a>
    <a class="btn btn-nav pull-right switchUser">Switch User</a>
    <a class="btn btn-nav pull-right logout">Logout</a>
  </footer>

  <div class="bar bar-standard bar-header-secondary">
    <input type="search" class="search-key" placeholder="Search"/>
  </div>

  <div class="content">
    <ul class="table-view"></ul>
  </div>
</script>

<!-- --------------------------------------- Contact list item template ---------------------------------------------- -->
<script id="contact-list-item" type="text/template">

  <a href="#contacts/<%= Id %>" style="padding:0">
    <div class="circle" style="background-color:<%= color %>">
      <div class="initials"><%= initials %></div>
    </div>
    <div style="padding-top:4px">
      <span class="important"><%= FirstName %> <%= LastName %></span><br/>
      <% if (Title) { %><%= Title %><% } %> <% if (Department) { %><%= Department %><% } %>
      </div>
    <% if (__local__) { %><span class="pull-right btn btn-negative"><%= (__locally_deleted__ ? "deleted" : (__locally_created__ ? "created" : "modified")) %></span><% } %>
  </a>
</script>

<!-- --------------------------------------- Contact page template -------------------------------------------------- -->
<script id="contact-page" type="text/template">
  <header class="bar bar-nav">
    <a class="btn btn-nav pull-left back">Back</a>
    <a class="btn btn-nav btn-positive pull-right save">Save</a>
    <a class="btn btn-nav btn-negative pull-right toggleDelete">Delete</a>
  </header>

  <div class="content">
    <div class="content-padded">
      <div class="details">
        <input placeholder="FirstName" type="text" name="FirstName" value="<%= FirstName %>" /><br/>
        <input placeholder="LastName" type="text" name="LastName" value="<%= LastName %>" /><br/>
        <input placeholder="Title" type="text" name="Title" value="<%= Title %>" /><br/>
        <input placeholder="Mobile Phone" type="text" name="MobilePhone" value="<%= MobilePhone %>" /><br/>
        <input placeholder="Email address" type="text" name="Email" value="<%= Email %>" />
        <input placeholder="Department" type="text" name="Department" value="<%= Department %>" /><br/>
        <input placeholder="Home Phone" type="text" name="HomePhone" value="<%= HomePhone %>" /><br/>
      </div>
    </div>
  </div>
</script>

<script>
// -------------------------------------------------- The Models ---------------------------------------------------- //
// The Contact Model
app.models.Contact = Force.SObject.extend({
    sobjectType: "Contact",
    fieldlist: ["Id", "FirstName", "LastName", "Title", "Email", "MobilePhone","Department","HomePhone", "LastModifiedDate"],
    cache: function() { return app.cache;},
    cacheMode: Force.CACHE_MODE.CACHE_ONLY
});

// The ContactCollection Model
app.models.ContactCollection = Force.SObjectCollection.extend({
    model: app.models.Contact,
    cache: function() { return app.cache;},

    getCriteria: function() {
        return this.key;
    },

    setCriteria: function(key) {
        this.key = key;
        var querySpec = _.extend({orderPath:"LastName", pageSize:100}, (key == "" ? {queryType:"range"} : {queryType:"match", matchKey: key + "*"}));
        this.config = {type:"cache", cacheQuery: querySpec};
    }
});


// -------------------------------------------------- The Views ---------------------------------------------------- //

app.views.SearchPage = Backbone.View.extend({

    template: _.template($("#search-page").html()),

    events: {
        "keyup .search-key": "search",
        "click .add": "add",
        "click .sync": "sync",
        "click .logout": "logout",
        "click .switchUser": "switchUser",
        "click .cachesize": "cacheSize",
        "click .inspect": "inspect"
    },

    initialize: function() {
        var that = this;
        this.fieldlist = app.models.Contact.prototype.fieldlist;
        this.fieldlistForSyncUp = _.without(app.models.Contact.prototype.fieldlist, "Id", "LastModifiedDate");
        this.listView = new app.views.ContactListView({model: this.model});
        document.addEventListener("sync", function() { 
            that.handleSyncUpdate(event.detail);
        });
    },

    render: function(eventName) {
        $(this.el).html(this.template());
        $(".search-key", this.el).val(this.model.getCriteria());
        this.listView.setElement($("ul", this.el)).render();
        return this;
    },

    // syncUp followed by syncDown followed by search
    handleSyncUpdate: function(sync) {
        if (sync.status !== "DONE") {
            $(".sync").html("Sync - " + sync.type + " " + Math.round(sync.progress) + "%");

            if (sync.type === "syncDown") {
                this.lastSyncDownId = sync._soupEntryId;
            }
        }
        else {
            $(".sync").html("Sync");

            if (sync.type === "syncDown") {
                this.syncInFlight = false;
                $(".sync").disabled = false;
                this.search();
            }
            if (sync.type === "syncUp") {
                this.syncDown();
            }
        }
    },

    syncDown: function() {
        if (!_.isNumber(this.lastSyncDownId)) {
            // First time
            var target = {type:"soql", query:"SELECT " + this.fieldlist.join(",") + " FROM Contact  LIMIT 10000"};
            cordova.require("com.salesforce.plugin.smartsync").syncDown(target, "contacts", {mergeMode:Force.MERGE_MODE_DOWNLOAD.OVERWRITE}, this.handleSyncUpdate.bind(this));
        }
        else {
            // Subsequent times
            cordova.require("com.salesforce.plugin.smartsync").reSync(this.lastSyncDownId, this.handleSyncUpdate.bind(this));
        }
    },

    syncUp: function() {
        cordova.require("com.salesforce.plugin.smartsync").syncUp("contacts", {fieldlist: this.fieldlistForSyncUp}, this.handleSyncUpdate.bind(this));
    },

    sync: function() {
        if (!this.syncInFlight) {
            this.syncInFlight = true;
            $(".sync").disabled = true;
            this.syncUp();
        }
    },

    add: function() {
        var model = new app.models.Contact({Id: null, FirstName: null, LastName: null, Title: null, Email: null, MobilePhone: null, HomePhone: null, Department: null, attributes: {type: "Contact"}});
        model.save(null, {
            fieldlist: _.union(app.models.Contact.prototype.fieldlist, ["attributes"]),
            success: function(model) {
                app.router.navigate("#contacts/" + model.id, {trigger:true});
            }
        });
    },

    cacheSize: function() {
        Force.smartstoreClient.runSmartQuery({queryType:"smart", smartSql:"SELECT count(*) from {contacts}", pageSize:1})
            .done(function(result) {
                alert("Number of entries in cache: " + result.currentPageOrderedEntries[0][0]);
            });
    },

    inspect: function() {
        cordova.require("com.salesforce.plugin.smartstore").showInspector();
    },

    switchUser: function() {
        cordova.require("com.salesforce.plugin.sfaccountmanager").switchToUser();
    },

    logout: function() {
        cordova.require("com.salesforce.plugin.sfaccountmanager").logout();
    },

    search: function(event) {
        this.model.setCriteria($(".search-key", this.el).val());
        this.model.fetch();
    }
});

app.views.ContactListView = Backbone.View.extend({

    listItemViews: [],

    initialize: function() {
        this.model.bind("reset", this.render, this);
    },

    render: function(eventName) {
        _.each(this.listItemViews, function(itemView) { itemView.close(); });
        this.listItemViews = _.map(this.model.models, function(model) { return new app.views.ContactListItemView({model: model}); });
        $(this.el).append(_.map(this.listItemViews, function(itemView) { return itemView.render().el;} ));
        return this;
    }

});

app.views.ContactListItemView = Backbone.View.extend({
    colors : ["#1abc9c", "#2ecc71", "#3498db", "#9b59b6", "#34495e", "#16a085", "#27ae60", "#2980b9", "#8e44ad", "#2c3e50", "#f1c40f", "#e67e22", "#e74c3c", "#95a5a6", "#f39c12", "#d35400", "#c0392b", "#bdc3c7", "#7f8c8d"],

    tagName: "li",
    template: _.template($("#contact-list-item").html()),

    render: function(eventName) {
        // Compute initials
        var firstName = this.model.get("FirstName");
        var lastName = this.model.get("LastName");
        var initials = (firstName ? firstName.substring(0,1) : "") + (lastName ? lastName.substring(0,1) : "");
        // Compute color
        var code = 0;
        if (lastName) {
            for (var i=0; i< lastName.length; i++) {
                code += lastName.charCodeAt(i);
            }
        }
        var color = this.colors[code % this.colors.length];
        var templateData = _.extend({initials: initials, color: color}, this.model.toJSON());
        $(this.el).addClass("table-view-cell").html(this.template(templateData));
        return this;
    },

    close: function() {
        this.remove();
        this.off();
    }
});

app.views.ContactPage = Backbone.View.extend({

    template: _.template($("#contact-page").html()),

    events: {
        "change": "change",
        "click .back": "back",
        "click .save": "save",
        "click .toggleDelete": "toggleDelete"

    },

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        var deleted = this.model.get("__locally_deleted__");
        $(".toggleDelete", this.el).html(deleted?"Undelete":"Delete");
        return this;
    },

    change: function(event) {
        // apply change to model
        var target = event.target;
        this.model.set(target.name, target.value);
    },

    back: function() {
        if(this.model.get("__locally_created__") && !this.model.get("__locally_modified__")) {
            // Nothing typed in - delete
            this.model.destroy({
                success: function() {
                    app.router.navigate("#", {trigger:true});
                }
            });
        }
        else {
            app.router.navigate("#", {trigger:true});
        }
    },

    save: function() {
        this.model.save(null, {
            success: function() {
                app.router.navigate("#", {trigger:true});
            }
        });
    },

    toggleDelete: function() {
        if(this.model.get("__locally_deleted__")) {
            this.model.set("__locally_deleted__", false);
            this.save();
        }
        else {
            this.model.destroy({
                success: function() {
                    app.router.navigate("#", {trigger:true});
                }
            });
        }
    }
});


// ----------------------------------------------- The Application Router ------------------------------------------ //

app.Router = Backbone.StackRouter.extend({

    routes: {
        "": "list",
        "list": "list",
        "contacts/:id": "viewContact"
    },

    setupCaches: function() {
        // Cache for offline support
        app.cache = new Force.StoreCache("contacts", [ {path:"FirstName", type:"full_text"}, {path:"LastName", type:"full_text"}]);
        app.cache.init();
    },

    initialize: function() {
        Backbone.Router.prototype.initialize.call(this);

        // Setup caches
        this.setupCaches();

        // Collection behind search screen
        app.searchResults = new app.models.ContactCollection();

        // We keep a single instance of SearchPage and ContactPage
        app.searchPage = new app.views.SearchPage({model: app.searchResults});
        app.searchPage.sync(); // kick off sync on load
        app.contactPage = new app.views.ContactPage();
    },

    list: function() {
        app.searchResults.fetch();
        // Show page right away - list will redraw when data comes in
        this.slidePage(app.searchPage);
    },

    viewContact: function(id) {
        var that = this;
        var contact = new app.models.Contact({Id: id});
        contact.fetch({
            success: function() {
                app.contactPage.model = contact;
                that.slidePage(app.contactPage);
            }
        });
    }
});
</script>
</body>
</html>
