<!DOCTYPE html>
<html>
<head>
<title>Accounts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
<link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

<div id="content"></div>

<!-- Scripts -->
<script src="../libs/jquery-1.8.3.min.js"></script>
<script src="../libs/underscore-1.4.4.min.js"></script>
<script src="../libs/backbone-1.0.0.min.js"></script>
<!-- Uncomment following when in container -->
<!--
<script src="cordova-2.3.0.js"></script>
<script src="SFHybridApp.js"></script>
<script src="SalesforceOAuthPlugin.js"></script>
-->
<script src="../libs/forcetk.js"></script>
<script src="../libs/forcebone.js"></script>
<script src="stackrouter.js"></script>
<script src="bootstrap.js"></script>

<!-- ----------------------------------------------- Templates --------------------------------------------------- -->
<script id="search-page" type="text/template">
<div class="header">
    <h1>Accounts</h1>
    <a href="#add" class="header-button header-button-icon header-button-right search">
      <button><span style="font-size:18px;font-weight:bold">+</span></button>
    </a>
</div>

<div style="height: 34px; padding-left:6px;padding-right: 6px;padding-top: 5px;margin-bottom: 6px;border-bottom: solid 1px #666">
    <input type="search" class="search-key" placeholder="Search" style="width:100%;font-size: 14px;padding-top:2px;padding-bottom:2px;margin-top:2px;margin-bottom:2px;border: solid 1px #777777;"/>
</div>

<div class="scroll striped" style="top:84px;">
    <ul id="myList" class="tableview tableview-links"></ul>
</div>
</script>

<script id="account-list-item" type="text/template">
<a href='#accounts/<%= Id %>' class="pad-right">
    <div class="story">
    	<b><%= Name %></b>
    </div>
</a>
</script>

<script id="account-page" type="text/template">
<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Back</button>
    </a>
    <a href="#edit/accounts/<%= Id %>" class="header-button header-button-icon header-button-right search">
        <button><span style="font-size:18px;font-weight:bold">&#9998;</span></button>
    </a>

    <h1>Account</h1>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="sobject-summary">
        <header>
            <h1><%= Name %></h1>
        </header>
    </div>

    <ul class="tableview tableview-links">
        <li>
            <a href="tel:<%= Phone %>">
                <div class="story">
                    <b>Call</b><br/>
                    <span class="metadata"><%= Phone %></span>
                </div>
                <img src="css/images/call.png" class="action-icon"/>
            </a>
        </li>
    </ul>
</div>
</script>

<script id="edit-account-page" type="text/template">
<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Back</button>
    </a>
    <h1><%= action %> Account</h1>
</div>
</script>

<script>
// -------------------------------------------------- The Models ---------------------------------------------------- //

var accountFields = ['Id', 'Name', 'Phone'];

// The Account Model
app.models.Account = Backbone.Force.Model.extend({
    sobjectType: 'Account',
    fieldsOfInterest: accountFields
});

// The AccountCollection Model
app.models.AccountCollection = Backbone.Force.Collection.extend({
    key: null,

    model: app.models.Account,
    soql: function() {
        return "SELECT " + accountFields.join(",")  
            + " FROM Account"
            + " WHERE Name like '" + this.key + "%'";
    }

});


// -------------------------------------------------- The Views ---------------------------------------------------- //

app.views.SearchPage = Backbone.View.extend({

    template: _.template($('#search-page').html()),

    render: function(eventName) {
        $(this.el).html(this.template());
        this.listView = new app.views.AccountListView({el: $('ul', this.el), model: this.model});
        this.listView.render();
        return this;
    },

    events: {
        "keyup .search-key": "search"
    },

    search: function(event) {
        this.model.key = $('.search-key').val();
        this.model.fetch();
    }
});

app.views.AccountListView = Backbone.View.extend({

    initialize: function() {
        this.model.bind("reset", this.render, this);
    },

    render: function(eventName) {
        $(this.el).empty();
        _.each(this.model.models, function(account) {
            $(this.el).append(new app.views.AccountListItemView({model: account}).render().el);
        }, this);
        return this;
    }

});

app.views.AccountListItemView = Backbone.View.extend({

    tagName: "li",
    template: _.template($('#account-list-item').html()),


    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    }

});

app.views.AccountPage = Backbone.View.extend({

    template: _.template($('#account-page').html()),

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    }

});

app.views.EditAccountPage = Backbone.View.extend({

    template: _.template($('#edit-account-page').html()),

    render: function(eventName) {
        var action = (null == this.model.get('Id')) ? 'Add' : 'Edit';
        $(this.el).html(this.template(_.extend({action: action}, this.model.toJSON())));
        return this;
    }

});


// ----------------------------------------------- The Application Router ------------------------------------------ //

app.Router = Backbone.StackRouter.extend({

    routes: {
        "": "list",
        "list": "list",
        "add": "addAccount",
        "accounts/:id": "viewAccount",
        "edit/accounts/:id": "editAccount"
    },

    initialize: function() {

        Backbone.Router.prototype.initialize.call(this);

        // We keep a single instance of the SearchPage and its associated Account collection throughout the app
        this.searchResults = new app.models.AccountCollection();
        this.startPage = new app.views.SearchPage({model: this.searchResults});
        this.startPage.render();
        $(this.startPage.el).attr('id', 'searchPage');
    },

    list: function() {
        this.slidePage(this.startPage);
    },

    addAccount: function() {
        var account = new app.models.Account({Id: null});
        this.slidePage(new app.views.EditAccountPage({model: account}).render());
    },

    viewAccount: function(id) {
        var that = this;
        var account = new app.models.Account({Id: id});
        account.fetch({
            success: function(data) {
                that.slidePage(new app.views.AccountPage({model: data}).render());
            }
        });
    },

    editAccount: function(id) {
        var that = this;
        var account = new app.models.Account({Id: id});
        account.fetch({
            success: function(data) {
                that.slidePage(new app.views.EditAccountPage({model: data}).render());
            }
        });
    }
});
</script>
</body>
</html>
