<!DOCTYPE html>
<html>
<head>
<title>Accounts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
<link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

<div id="content"></div>

<!-- Scripts -->
<script src="../libs/jquery-1.8.3.min.js"></script>
<script src="../libs/underscore-1.4.4.min.js"></script>
<script src="../libs/backbone-1.0.0.min.js"></script>
<!-- Uncomment following when in container -->
<!--
<script src="cordova-2.3.0.js"></script>
<script src="SFHybridApp.js"></script>
<script src="SalesforceOAuthPlugin.js"></script>
-->
<script src="../libs/forcetk.js"></script>
<script src="../libs/forcebone.js"></script>

<!-- ----------------------------------------------- Templates --------------------------------------------------- -->

<script id="search-page" type="text/template">
<div class="header">
    <h1>Accounts</h1>
    <a href="#add" class="header-button header-button-icon header-button-right search">
      <button><span style="font-size:18px;font-weight:bold">+</span></button>
    </a>
</div>

<div style="height: 34px; padding-left:6px;padding-right: 6px;padding-top: 5px;margin-bottom: 6px;border-bottom: solid 1px #666">
    <input type="search" class="search-key" placeholder="Search" style="width:100%;font-size: 14px;padding-top:2px;padding-bottom:2px;margin-top:2px;margin-bottom:2px;border: solid 1px #777777;"/>
</div>

<div class="scroll striped" style="top:84px;">
    <ul id="myList" class="tableview tableview-links"></ul>
</div>
</script>

<script id="account-list-item" type="text/template">
<a href='#accounts/<%= Id %>' class="pad-right">
    <div class="story">
    	<b><%= Name %></b>
    </div>
</a>
</script>

<script id="account-page" type="text/template">
<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Back</button>
    </a>
    <a href="#edit/accounts/<%= Id %>" class="header-button header-button-icon header-button-right search">
        <button><span style="font-size:18px;font-weight:bold">&#9998;</span></button>
    </a>

    <h1>Account</h1>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="sobject-summary">
        <header>
            <h1><%= Name %></h1>
        </header>
    </div>

    <ul class="tableview tableview-links">
        <li>
            <a href="tel:<%= Phone %>">
                <div class="story">
                    <b>Call</b><br/>
                    <span class="metadata"><%= Phone %></span>
                </div>
                <img src="css/images/call.png" class="action-icon"/>
            </a>
        </li>
    </ul>
</div>
</script>

<script>
// ----------------------------------------------- Application bootstrap ------------------------------------------- //

jQuery(document).ready(function() {
    //Add event listeners and so forth here
    console.log("onLoad: jquery ready");

    // Use following when in container
	// document.addEventListener("deviceready", onDeviceReady,false);

    // Use  when testing in browser
    // Also make sure to start browser with same origin policy disable
    // See http://joshuamcginnis.com/2011/02/28/how-to-disable-same-origin-policy-in-chrome/
    var creds = {
        accessToken: "--will-be-obtained-by-refres",
        refreshToken: "5Aep861_OKMvio5gy9sGt9Z9mdt62xXK.9ugif6nZJYknXeANTICBf4ityN9j6YDgHjFvbzu6FTUQ==",
        clientId: "3MVG92.uWdyphVj4bnolD7yuIpCQsNgddWtqRND3faxrv9uKnbj47H4RkwheHA2lKY4cBusvDVp0M6gdGE8hp",
        loginUrl: "https://test.salesforce.com",
        instanceUrl: "https://tapp0.salesforce.com",
        accountAgent: "sobject-proto"
    };
    appStart(creds);
});

// When this function is called, cordova has been initialized and is ready to roll 
function onDeviceReady() {
    console.log("onDeviceReady: cordova ready");
	//Call getAuthCredentials to get the initial session credentials
    cordova.require("salesforce/plugin/oauth").getAuthCredentials(
        function(creds) {
            appStart(creds);
        }, 
        function(error) { 
            console.log("Auth failed: " + error); 
        });

}

// Creating the application namespace
var app = {
    models: {},
    views: {},
    utils: {}
};

function appStart(creds)
{
    var apiVersion = "v26.0";

    // Backbone.Force init
    Backbone.Force.init(creds, apiVersion);

    // router
    app.router = new app.Router();

    // Go!
    Backbone.history.start();
}

// -------------------------------------------------- The Models ---------------------------------------------------- //

var accountFields = ['Id', 'Name', 'Phone'];

// The Account Model
app.models.Account = Backbone.Force.Model.extend({
    sobjectType: 'Account',
    fieldsOfInterest: accountFields
});

// The AccountCollection Model
app.models.AccountCollection = Backbone.Force.Collection.extend({
    key: null,

    model: app.models.Account,
    soql: function() {
        return "SELECT " + accountFields.join(",")  
            + " FROM Account"
            + " WHERE Name like '" + this.key + "%'";
    }

});


// -------------------------------------------------- The Views ---------------------------------------------------- //

app.views.SearchPage = Backbone.View.extend({

    template: _.template($('#search-page').html()),

    render: function(eventName) {
        $(this.el).html(this.template());
        this.listView = new app.views.AccountListView({el: $('ul', this.el), model: this.model});
        this.listView.render();
        return this;
    },

    events: {
        "keyup .search-key": "search"
    },

    search: function(event) {
        this.model.key = $('.search-key').val();
        this.model.fetch();
    }
});

app.views.AccountListView = Backbone.View.extend({

    initialize: function() {
        this.model.bind("reset", this.render, this);
    },

    render: function(eventName) {
        $(this.el).empty();
        _.each(this.model.models, function(account) {
            $(this.el).append(new app.views.AccountListItemView({model: account}).render().el);
        }, this);
        return this;
    }

});

app.views.AccountListItemView = Backbone.View.extend({

    tagName: "li",
    template: _.template($('#account-list-item').html()),


    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    }

});

app.views.AccountPage = Backbone.View.extend({

    template: _.template($('#account-page').html()),

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    }

});


// ----------------------------------------------- The Application Router ------------------------------------------ //

app.Router = Backbone.Router.extend({

    routes: {
        "": "list",
        "list": "list",
        "add": "addAccount",
        "accounts/:id": "viewAccount",
        "edit/accounts/:id": "editAccount"
    },

    initialize: function() {

        var that = this;

        // Keep track of the history of pages (we only store the page URL). Used to identify the direction
        // (left or right) of the sliding transition between pages.
        this.pageHistory = [];

        // Register event listener for back button troughout the app
        $('#content').on('click', '.header-back-button', function(event) {
            window.history.back();
            return false;
        });

        // We keep a single instance of the SearchPage and its associated Account collection throughout the app
        this.searchResults = new app.models.AccountCollection();
        this.searchPage = new app.views.SearchPage({model: this.searchResults});
        this.searchPage.render();
        $(this.searchPage.el).attr('id', 'searchPage');
    },

    list: function() {
        var that = this;
        this.slidePage(this.searchPage);
    },

    addAccount: function() {
        alert("Add account");
    },

    viewAccount: function(id) {
        var that = this;
        var account = new app.models.Account();
        account.Id = id;
        account.fetch({
            success: function(data) {
                that.slidePage(new app.views.AccountPage({model: data}).render());
            }
        });
    },

    editAccount: function() {
        alert("Edit account");
    },

    slidePage: function(page) {
        var slideFrom,
            that = this;

        if (!this.currentPage) {
            // If there is no current page (app just started) -> No transition: Position new page in the view port
            $(page.el).attr('class', 'page stage-center');
            $('#content').append(page.el);
            this.pageHistory = [window.location.hash];
            this.currentPage = page;
            return;
        }

        // Cleaning up: remove old pages that were moved out of the viewport
        $('.stage-right, .stage-left').not('#searchPage').remove();

        if (page === this.searchPage) {
            // Always apply a Back (slide from left) transition when we go back to the search page
            slideFrom = "left";
            $(page.el).attr('class', 'page stage-left');
            // Reinitialize page history
            this.pageHistory = [window.location.hash];
        } else if (this.pageHistory.length > 1 && window.location.hash === this.pageHistory[this.pageHistory.length - 2]) {
            // The new page is the same as the previous page -> Back transition
            slideFrom = "left";
            $(page.el).attr('class', 'page stage-left');
            this.pageHistory.pop();
        } else {
            // Forward transition (slide from right)
            slideFrom = "right";
            $(page.el).attr('class', 'page stage-right');
            this.pageHistory.push(window.location.hash);
        }

        $('#content').append(page.el);

        // Wait until the new page has been added to the DOM...
        setTimeout(function() {
            // Slide out the current page: If new page slides from the right -> slide current page to the left, and vice versa
            $(that.currentPage.el).attr('class', 'page transition ' + (slideFrom === "right" ? 'stage-left' : 'stage-right'));
            // Slide in the new page
            $(page.el).attr('class', 'page stage-center transition');
            that.currentPage = page;
        });

    }

});
</script>

</body>
</html>
