<!DOCTYPE html>
<html>
<head>
<title>Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
<link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

<div id="content"></div>

<!-- Scripts -->
<script src="../libs/jquery-1.8.3.min.js"></script>
<script src="../libs/underscore-1.4.4.min.js"></script>
<script src="../libs/backbone-1.0.0.min.js"></script>
<!-- Uncomment following when in container -->
<!--
<script src="cordova-2.3.0.js"></script>
<script src="SFHybridApp.js"></script>
<script src="SalesforceOAuthPlugin.js"></script>
-->
<script src="../libs/forcetk.js"></script>
<script src="../libs/forcebone.js"></script>
<script src="stackrouter.js"></script>
<script src="auth.js"></script>

<!-- --------------------------------------- Search page template ------------------------------------------------- -->
<script id="search-page" type="text/template">
<div class="header">
    <h1>Users</h1>
    <a href="#" class="header-button header-button-icon header-button-right search">
      <button><img src="css/images/refresh-icon.png" alt="Refresh" width="14" height="18"></button>
    </a>
</div>

<div class="search">
    <input type="search" class="search-key" placeholder="Search"/>
</div>

<div class="scroll striped" style="top:84px;">
    <ul id="myList" class="tableview tableview-links"></ul>
</div>
</script>

<!-- --------------------------------------- User list item template ---------------------------------------------- -->
<script id="user-list-item" type="text/template">
<a href='#users/<%= Id %>' class="pad-right">
    <img src="<%= SmallPhotoUrl %>" width="50" class="list-icon" />
    <div class="story">
    	<b><%= FirstName %> <%= LastName %></b>
    	<span class="metadata">
            <span class="link-text"><%= Title %></span><br/>
        </span>
    </div>
</a>
</script>

<!-- --------------------------------------- User page template -------------------------------------------------- -->
<script id="user-page" type="text/template">
<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Back</button>
    </a>
    <a href="#" class="header-button header-button-icon header-button-right search">
        <button><img src="css/images/search-icon.png" alt="Refresh" width="16" height="16"></button>
    </a>

    <h1>User</h1>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="sobject-summary">
        <header>
            <img id="employeePic" src="<%= SmallPhotoUrl %>" width="100"/>

            <h1><%= FirstName %> <%= LastName %></h1>
            <span class="link-text"><%= Title %></span><br/>
            <span class="metadata"><%= City %></span>
        </header>
    </div>

    <ul class="tableview tableview-links">
      <% if (MobilePhone) { %>
        <li>
            <a href="tel:<%= MobilePhone %>">
                <div class="story">
                    <b>Call Cell</b><br/>
                    <span class="metadata"><%= MobilePhone %></span>
                </div>
                <img src="css/images/call.png" class="action-icon"/>
            </a>
        </li>
        <li>
            <a href="sms:<%= MobilePhone %>">
                <div class="story">
                    <b>SMS</b><br/>
                    <span class="metadata"><%= MobilePhone %></span>
                </div>
                <img src="css/images/message.png" class="action-icon"/>
            </a>
        </li>
        <% } %>
        <% if (MobilePhone) { %>
        <li>
            <a href="mailto:<%= Email %>">
                <div class="story">
                    <b>Email</b><br/>
                    <span class="metadata"><%= Email %></span>
                </div>
                <img src="css/images/mail.png" class="action-icon"/>
            </a>
        </li>
        <% } %>
    </ul>
</div>
</script>

<script>
// -------------------------------------------------- The Models ---------------------------------------------------- //
// The User Model
app.models.User = Force.Model.extend({
    sobjectType: 'User',
    fieldlist: ['Id', 'FirstName', 'LastName', 'SmallPhotoUrl', 'Title', 'Email', 'MobilePhone','City']
});

// The UserCollection Model
app.models.UserCollection = Force.Collection.extend({
    model: app.models.User,
    fieldlist: ['Id', 'FirstName', 'LastName', 'SmallPhotoUrl', 'Title'],
    setCriteria: function(key) {
        this.soql = "SELECT " + this.fieldlist.join(",")  
            + " FROM User"
            + " WHERE Name like '" + key + "%'";
    }
});


// -------------------------------------------------- The Views ---------------------------------------------------- //

app.views.SearchPage = Backbone.View.extend({

    template: _.template($('#search-page').html()),

    render: function(eventName) {
        $(this.el).html(this.template());
        this.listView = new app.views.UserListView({el: $('ul', this.el), model: this.model});
        this.listView.render();
        return this;
    },

    events: {
        "keyup .search-key": "search"
    },

    search: function(event) {
        this.model.setCriteria($('.search-key').val());
        this.model.fetch();
    }
});

app.views.UserListView = Backbone.View.extend({

    initialize: function() {
        this.model.bind("reset", this.render, this);
    },

    render: function(eventName) {
        $(this.el).empty();
        _.each(this.model.models, function(user) {
            $(this.el).append(new app.views.UserListItemView({model: user}).render().el);
        }, this);
        return this;
    }

});

app.views.UserListItemView = Backbone.View.extend({

    tagName: "li",
    template: _.template($('#user-list-item').html()),


    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    }

});

app.views.UserPage = Backbone.View.extend({

    template: _.template($('#user-page').html()),

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    }

});


// ----------------------------------------------- The Application Router ------------------------------------------ //

app.Router = Backbone.StackRouter.extend({

    routes: {
        "": "list",
        "list": "list",
        "users/:id": "viewUser"
    },

    initialize: function() {

        Backbone.Router.prototype.initialize.call(this);

        // We keep a single instance of the SearchPage and its associated User collection throughout the app
        this.searchResults = new app.models.UserCollection();
        this.startPage = new app.views.SearchPage({model: this.searchResults});
        this.startPage.render();
        $(this.startPage.el).attr('id', 'searchPage');
    },

    list: function() {
        this.slidePage(this.startPage);
    },

    viewUser: function(id) {
        var that = this;
        var user = new app.models.User({Id: id});
        user.fetch({
            fieldlist: user.fieldlist,
            success: function(data) {
                that.slidePage(new app.views.UserPage({model: data}).render());
            }
        });
    }
});
</script>
</body>
</html>
