.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    -webkit-transform:translate3d(0,0,0);
}

.stage-center {
    top: 0;
    left: 0;
}

.stage-left {
    left: -100%;
}

.stage-right {
    left: 100%;
}

.transition {
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
}

.small-img {
    float: left;
    margin-right:6px;
    width: 50px;
}

.details-short {
    height: 50px;
}

.large-img {
    float: left;
    margin-right:12px;
    width: 100px;
}

.details {
    height: 100px;
}

.input-row .error {
    position: absolute;
    right: 11px;
    display: none;
}

.important {
    font-weight: bold;
    font-size: 1.2em;
}

.not-important {
    color: #C0C0C0;
    font-size: 0.8em;
}


.count-other {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  background-color: #ff9900;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    display: flex;
    text-align: center;
    line-height: 50px;
    margin-right: 4px;
}

.initials {
    font-size: 1.4em;
    color: white;
    width: 100%;
}